/* basic css */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1em;

  margin: 0%;
  padding: 0%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700px;
  line-height: 1em;
}
.content {
  width: 1170px;
  margin: auto;
}
/* top_header_area */
.top_header_area {
  background-color: #026670;
  padding: 10px;
  overflow: hidden;
}
.top_header_area .social_area {
  float: left;
  width: 50%;
}
.top_header_area .social_area ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.top_header_area .social_area li {
  display: inline-block;
  margin: 5px;
}
.top_header_area .social_area li a {
  background-color: #026670;
  font-size: 20px;
  color: #9fedd7;
}
.top_header_area .social_area li a :hover {
  color: #fce181;
}
.top_header_area .search_area {
  float: right;
  width: 50%;
  margin: 0%;
  padding: 0%;
}
.top_header_area .search_area form {
  width: 300px;
  float: right;
}
.top_header_area .search_area input[type="text"] {
  background-color: #edeae5;
  border-radius: 5px 0px 0px 5px;
  padding-right: 12%;
  padding-top: 1%;
  padding-bottom: 0.5%;
  margin-top: 1%;
  border: 0%;
}
.top_header_area .search_area input[type="submit"] {
  background-color: #fce181;
  border-radius: 0 5px 5px 0;
  margin-top: 1%;
  color: #026670;
  font-family: "Open Sans", sans-serif;
}
.top_header_area .search_area input[type="submit"]:hover {
  background-color: #9fedd7;
  color: #026670;
  font-family: "Open Sans";
}
/*
    Logo Area
*/
.logo_area {
  width: 220px;
  max-width: 100%;
  margin: 25px auto;
  text-align: center;
}
/* nav-area */
.main_menu {
  background-color: #9fedd7;
  height: 45px;
}
.main_menu ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main_menu ul li {
  display: inline-block;
  margin: 12px;
}
.main_menu ul li a {
  color: #026670;
  font-family: "Open Sans", sans-serif;
}
.main_menu ul li a:hover {
  color: #002427;
}
/* Slider-Area */
.slider_area {
  margin: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #edeae5;
}
.slider_area .bx-wrapper {
  border: 0;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
  margin-bottom: 4%;
}
.slider_area .bx-wrapper .bx-pager.bx-default-pager a {
  border: 2.5px solid #026670;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
  display: block;
  margin: 0 7px;
}
.slider_area .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #9fedd7;
}
.slider_area .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #9fedd7;
}
/* welcome-area */
.welcome_area {
  width: 100%;
  overflow: hidden;
  background-color: #edeae5;
  /* height: 150%; */
  background-color: #edeae5;
}
.welcome_area .left_welcome {
  width: 46%;
  float: left;
}
.welcome_area .left_welcome h3 {
  font-weight: 400;
  font-size: 30px;
}
.welcome_area .left_welcome p {
  font-size: 20px;
  line-height: 100%;
  font-family: "Dosis", sans-serif;
  color: #002427;
}
.welcome_area .left_welcome a {
  background-color: #9fedd7;
  display: inline-block;
  color: black;
  padding: 10px 20px;
}
.welcome_area .left_welcome a:hover {
  background: #026670;
  color: #fff;
}
.welcome_area .right_welcome {
  width: 50%;
  float: right;
}
.welcome_area .right_welcome img {
  /* background-color: #9fedd7; */
  margin-left: -5%;
}
/* service_area  */
.service_area {
  /* margin-top: 5%; */
  background: #9fedd7;

  padding: 50px 0;
  width: 100%;
  /* overflow: hidden; */
}
.service_area .inner_service {
  overflow: hidden;
}
.service_area .inner_service h2.title {
  text-align: center;
  color: #026670;
  font-size: 60px;
  /* font-weight: 600; */
  margin-bottom: 0;
}
.service_area .inner_service p.sub_title {
  text-align: center;
  font-size: 20px;
}
.service_area .main_service {
  width: 100%;
  /* overflow: hidden; */
  margin-top: 20px;
}
.service_area .child_service {
  width: 225px;
  padding: 130px 60px 80px 105px;
  /* padding: 90px 40px 60px 65px; */
  float: left;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.service_area .child_service:hover {
  /* background: #9fedd7; */
  background: #edeae5;
  box-shadow: 10px 10px 10px #ddd;
}
.service_area .child_service h3 {
  color: #026670;
  font-size: 100px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  opacity: 0.1;
  position: absolute;
  left: 60px;
  top: 60px;
}
.service_area .child_service h4 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 28px;
}
.service_area .child_service h4 a {
  color: #026670;
}
.service_area .child_service p {
  color: #000000;
  font-size: 14px;
  opacity: 0.5;
}
/* Contact Area */
.contact_area {
  background-color: #026670;
  padding: 50px 0;
  width: 100%;
  overflow: hidden;
}
.contact_area .inner_contact {
  width: 900px;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.contact_area .inner_contact h2.title {
  text-align: center;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-size: 36px;
}
.contact_area .main_contact_form {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
}
.contact_area .main_contact_form input {
  background: #fff;
  border: 0;
  width: 42%;
  padding: 15px 3%;
  float: left;
  margin: 0 1% 2%;
  border-radius: 5px;
}
.contact_area .main_contact_form textarea {
  background: #fff;
  border: 0;
  width: 92%;
  margin: 0 1% 2%;
  padding: 15px 3%;
  border-radius: 5px;
  min-height: 100px;
}
.contact_area .main_contact_form input[type="submit"] {
  background: #9fedd7;
  width: 250px;
  margin: 0 auto;
  float: none;
  color: #026670;
  font-size: 21px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
.contact_area .main_contact_form input[type="submit"]:hover {
  background: #fce181;
}
/* Footer Area */
.footer_area {
  background: #9fedd7;
  width: 100%;
  overflow: hidden;
}
.footer_area .inner_footer {
  overflow: hidden;
}
.footer_area .copyright_area {
  width: 100%;
  text-align: center;
  background-color: #9fedd7;
}
.footer_area .copyright_area p {
  color: #026670;
  background-color: #9fedd7;
  font-size: 14px;
}
